services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: taufikdev
      MYSQL_PASSWORD: taufikdev
      MYSQL_ROOT_PASSWORD: taufikdev
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -uroot -p${MYSQL_ROOT_PASSWORD} --silent",
        ]
      interval: 5s
      timeout: 5s
      retries: 30

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_DATABASE: mydb
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongopass
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   volumes:
  #     - ./backend/:/app
  #   environment:
  #     AIR_WATCHER: poll
  #     APP_PORT: 3000

  #     # MySQL DSN (umum untuk driver go-sql-driver/mysql)
  #     # format: user:pass@tcp(host:port)/db?params
  #     MYSQL_DSN: "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(mysql:3306)/${MYSQL_DATABASE}?parseTime=true&charset=utf8mb4&collation=utf8mb4_unicode_ci"

  #     REDIS_ADDR: "redis:6379"
  #     MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/${MONGO_INITDB_DATABASE}?authSource=admin"
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     mysql:
  #       condition: service_healthy
  #     redis:
  #       condition: service_started
  #     mongo:
  #       condition: service_started

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "${FRONTEND_PORT}:80"
  #   depends_on:
  #     - backend

volumes:
  mysql_data:
  redis_data:
  mongo_data:
