services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: taufikdev
      MYSQL_PASSWORD: taufikdev
      MYSQL_ROOT_PASSWORD: taufikdev
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -uroot -ptaufikdev --silent",
        ]
      interval: 5s
      timeout: 5s
      retries: 30

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_DATABASE: mydb
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongopass
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      APP_ENV: production

      MYSQL_DATABASE: mydb
      MYSQL_USER: taufikdev
      MYSQL_PASSWORD: taufikdev
      MYSQL_ROOT_PASSWORD: taufikdev
      MYSQL_PORT: "3306"
      MYSQL_HOST: mysql

      REDIS_PORT: "6379"
      REDIS_ADDR: redis
      REDIS_DB: "0"

      MONGO_INITDB_DATABASE: taufikdev
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: mongopass
      MONGO_PORT: "27017"
      MONGO_HOST: mongo

      JWT_SECRET_KEY: your_jwt_secret_key
      JWT_REFRESH_KEY: your_jwt_refresh_secret_key
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      mongo:
        condition: service_started

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "${FRONTEND_PORT}:80"
  #   depends_on:
  #     - backend

volumes:
  mysql_data:
  redis_data:
  mongo_data:
